<head>
	<title>{{ .Site.Title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="">
	<meta name="author" content="">
	{{ if .Site.Params.favicon }}
	{{ partial "template/favicon" }}
	{{ end }}

	<!-- SCSS -->
	{{ $styles := resources.Get "sass/styles.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

	<!-- Development Mode -->
	{{ if .Site.IsServer }}
		{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS (dict "targetPath" "assets/css/main.css" "outputStyle" "compressed" "enableSourceMap" false) }}
		<link rel="stylesheet" href="{{ ($style).RelPermalink }}">

	<!-- Production Mode -->
	{{ else }}
		{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS (dict "targetPath" "assets/css/main.css" "enableSourceMap" false) }}
		<link rel="stylesheet" href="{{ ($style | minify).RelPermalink }}">
	{{ end }}
	
	<!-- Development Mode -->
	{{ if .Site.IsServer }}
		{{ $noscript := resources.Get "sass/noscript.scss" | resources.ExecuteAsTemplate "noscript.scss" . | toCSS (dict "targetPath" "assets/css/noscript.css" "enableSourceMap" false) }}
		<noscript><link rel="stylesheet" href="{{ ($noscript).RelPermalink }}" /></noscript>
	
	<!-- Production Mode -->
	{{ else }}
		{{ $noscript := resources.Get "sass/noscript.scss" | resources.ExecuteAsTemplate "noscript.scss" . | toCSS (dict "targetPath" "assets/css/noscript.css" "enableSourceMap" false) }}
		<noscript><link rel="stylesheet" href="{{ ($noscript | minify).RelPermalink }}" /></noscript>
	{{end}}
</head>
